<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing Software</title>
</head>
<body>

    <h1>ISP BIlling Software</h1>
    <p>Welcome to the Software to manage wifi and automate blling</p>

    <button onclick="updateName()">Change</button>
    <h2 id="companyName">Null</h2>
    
</body>

<script src="../static/index.js"></script>
</html>